<div class="item">
    <div class="ui grid">
        <div class="two wide column">
            <img src="http://dev.payatrader.com/images/merchant/{{image}}">
        </div>
        <div class="eight wide column">
            <h3>{{name}}</h3>
            {{#if operativeId}}
                Operative: {{ operativeId }}
            {{/if}}
        </div>
        <div class="three wide column">
            {{#if purchasePrice}}
                Purchase Price: &pound;{{ div purchasePrice 100 }}<br />
            {{/if}}
            {{#if depositPrice }}
                Deposit: &pound;{{ div depositPrice 100 }}  *<br />
            {{/if}}
            {{#if rentalPrice}}
                Rental &pound;{{ div rentalPrice 100 }} per month<br />
            {{/if}}
        </div>
    </div>
</div>
<div class="ui divider"></div>