{{#if closable}}
    <i class="close icon" {{action 'closeMessage'}}></i>
{{/if}}
{{#if icon}}
    <i class="{{icon}} icon"></i>
{{/if}}
<div class="content">
    {{#if title}}
        <div class="header">{{title}}</div>
    {{/if}}
    {{#if detail}}
        <p>{{{detail}}}</p>
    {{/if}}
    {{#if items}}
        <div class="ui list">
            {{#each items as |item|}}
                <div class="item">
                    <i class="{{if listIcon listIcon 'warning circle'}} icon"></i>
                    <div class="content">
                        {{#if item.detail}}
                            {{item.detail}}
                        {{else if item.title}}
                            {{item.title}}
                        {{else if item.message}}
                            {{item.message}}
                        {{else}}
                            {{item}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
