<div class="sixteen wide column">
    {{#sui-segment class="small no-padding basic" loading=loading}}
        {{#sui-form class="small"}}
            <div class="ui unstackable padded one column grid">
                {{#unless hideFilter}}
                    <div class="column">
                        {{#sui-segment basic=(if noTopSegment true) colour=(unless noTopSegment 'green') class="small small-height"}}
                            <div class="ui equal width stackable grid">
                                <div class="middle aligned row">
                                    {{#if containerConfig.showPagination}}
                                        <div class="{{unless containerConfig.paginationAlignment 'left aligned' containerConfig.paginationAlignment}} column">
                                            {{sui-pagination-menu class="small" links=paginationLinks
                                                                  infoText=rowInfoText
                                                                  updatePaginationParams=updatePaginationParams}}
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showTextFilter}}
                                        <div class="column">
                                            {{#sui-form-field }}
                                                <div class="ui {{if filterIsLoading 'loading'}} fluid icon input">
                                                    <input value={{filterText}} oninput={{action 'filterTextChanged' value="target.value"}} placeholder="Search...">
                                                    <i class="search icon"></i>
                                                </div>
                                            {{/sui-form-field}}
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showRowInfo}}
                                        <div class="right aligned column">
                                            {{sui-header class="green" header=rowInfoText}}
                                        </div>
                                    {{/if}}
                                    {{#if containerConfig.showDisplayedRows}}
                                        <div class="right aligned computer only column">
                                            {{#sui-form-field class="inline"}}
                                                <label>Show: </label>
                                                {{#ui-dropdown class="selection very-small-width" selected=limit onChange=(action (mut limit))}}
                                                    <div class="default text">10</div>
                                                    <i class="dropdown icon"></i>
                                                    <div class="menu">
                                                        {{#each dropdownDisplayedRows.options as |option|}}
                                                            <div data-value="{{option.value}}" data-text="{{option.text}}" class="item">
                                                                {{option.text}}
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                {{/ui-dropdown}}
                                            {{/sui-form-field}}
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        {{/sui-segment}}
                    </div>
                {{/unless}}
                {{#if content}}
                    <div class="column">
                        <div class="ui equal width unstackable padded grid">
                            <div class="row">
                                <table class="ui {{tableClasses}} table">
                                    <thead>
                                    <tr>
                                        {{#each attributes as |attribute|}}
                                            {{#unless attribute.hidden}}
                                                {{#if attribute.sortable}}
                                                    <th {{action 'sortCaret' attribute.name}} class="sortable {{if attribute.width attribute.width ''}} {{if attribute.alignment attribute.alignment ''}}">
                                                        {{attribute.heading}}
                                                        {{#if (eq sortColumn attribute.name)}}
                                                            <i class="caret {{if (eq sortDirection 'desc') 'down' 'up'}} icon"></i>
                                                        {{/if}}
                                                    </th>
                                                {{else}}
                                                    <th class="{{if attribute.width attribute.width ''}} {{if attribute.alignment attribute.alignment ''}} not-clickable">
                                                        {{attribute.heading}}
                                                    </th>
                                                {{/if}}
                                            {{/unless}}
                                        {{/each}}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#unless content}}
                                        <tr>
                                            <td>No data</td>
                                        </tr>
                                    {{/unless}}
                                    {{#each content as |row|}}
                                        <tr {{action 'rowClicked' row}}>
                                            {{#each attributes as |attribute|}}
                                                {{#unless attribute.hidden}}
                                                    <td class="{{if attribute.alignment attribute.alignment ''}}">
                                                        {{#if attribute.labeled}}
                                                            {{#if attribute.labelColourAttribute}}
                                                                {{sui-label class="basic" text=(get row attribute.name) colour=(get row attribute.labelColourAttribute)}}
                                                            {{else}}
                                                                {{sui-label class="basic" text=(get row attribute.name) colour=attribute.labelColour}}
                                                            {{/if}}
                                                        {{else if attribute.html}}
                                                            {{#if (eq attribute.type 'datetime')}}
                                                                {{{mysql-to-uk-date-time (get row attribute.name)}}}
                                                            {{else}}
                                                                {{{get row attribute.name}}}
                                                            {{/if}}
                                                        {{else if attribute.icon}}
                                                            {{sui-icon class="big" name=(get row attribute.name)}}
                                                        {{else}}
                                                            {{#if (eq attribute.type 'datetime')}}
                                                                {{mysql-to-uk-date-time (get row attribute.name)}}
                                                            {{else}}
                                                                {{get row attribute.name}}
                                                            {{/if}}
                                                        {{/if}}
                                                    </td>
                                                {{/unless}}
                                            {{/each}}
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {{#if showBackToTop}}
                        <div class="center aligned column">
                            {{sui-button class="labeled icon" text="Back to Top" icon="arrow up" onClick=(action "backToTop")}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        {{/sui-form}}
    {{/sui-segment}}
</div>

{{#unless content}}
    <div class="sixteen wide center aligned column">
        <strong>No data available</strong>
    </div>
{{/unless}}
