<input type="hidden" value={{value}} onchange={{action (mut value) value="target.value"}}>
<div class="default text">{{placeholder}}</div>
<i class="dropdown icon"></i>
<div class="menu">
    {{#each options as |option|}}
        <div class="item" data-value="{{option.value}}">
            {{#if (and icon flag)}}
                <i class="{{option.icon}} flag"></i>
            {{else if icon}}
                <i class="{{option.icon}} icon"></i>
            {{/if}}
            {{option.text}}
        </div>
    {{/each}}
</div>
